/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../src/screen.scss */
body {
  background-color: #f2f2f2;
  color: #3c3c3c;
  font-size: 62.5%;
  font-family: Palatino, Georgia, serif;
}

/* line 13, ../src/screen.scss */
#header, #main, #footer {
  width: 720px;
  margin: 20px auto;
}

/* line 18, ../src/screen.scss */
h1 {
  font-size: 3.2em;
}

/* line 21, ../src/screen.scss */
h2 {
  font-size: 2.6em;
}

/* line 24, ../src/screen.scss */
h3 {
  font-size: 1.8em;
}

/* line 27, ../src/screen.scss */
h4 {
  font-size: 1.6em;
}

/* line 31, ../src/screen.scss */
p, li {
  font-size: 1.6em;
  line-height: 1.65em;
}

/* line 36, ../src/screen.scss */
p {
  line-height: 1.7em;
}

/* line 40, ../src/screen.scss */
a {
  text-decoration: none;
}

/* line 44, ../src/screen.scss */
ul {
  margin-left: 1em;
  list-style-type: disc;
}

/* line 50, ../src/screen.scss */
#header h1 {
  font-size: 48px;
}

/* line 55, ../src/screen.scss */
#links {
  float: right;
  display: inline;
}
/* line 58, ../src/screen.scss */
#links li {
  display: inline;
  margin-right: 10px;
}
