body.one-col {
  p + p {
	text-indent: 0;
	margin-top: -0.5em;
  }
  #container {
    @include container;
  }
  #header, #footer, nav {
    @include column($blueprint-grid-columns);
  }
  #content {
    $content-columns: $blueprint-grid-columns;
    @include column($content-columns, true);
  }	
}
