
@import "blueprint/scaffolding";
@import "blueprint/fancy-type";

@import "compass/css3";
@import "compass/utilities/general/min";

body.bp {
  @include blueprint-typography(true);
  @include fancy-type;
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;

  background-color: $blueprint-background-color;

  .inset {
	h1,h2,h3 {
		margin: 0 0 0.5em 0 !important;
		padding: 0 !important;
	}

	@include min-height(300px);

	&.dark {
	  background-color: darken($blueprint-background-color, 5%);
	}
	&.round {
		@include border-radius($default-border-radius)
	}

	padding-top: ($blueprint-grid-margin * 2);
	
	&.half {
	  @include column(($blueprint-grid-columns / 2) - 2);	
	  @include prepend(1);
	  @include append(1);
      &.last {
        @include column(($blueprint-grid-columns / 2) - 2, true)
      }		
	}
	
	&.third {
	  @include column(($blueprint-grid-columns / 3) - 2);	
	  @include prepend(1);
	  @include append(1);
      &.last {
        @include column(($blueprint-grid-columns / 3) - 2, true)
      }		
	}
	
	&.two-thirds {
	  @include column(($blueprint-grid-columns / 3) * 2 - 2);	
	  @include prepend(1);
	  @include append(1);
      &.last {
        @include column(($blueprint-grid-columns / 3) * 2 - 2, true)
      }		
	}		
  }
}