body.bp {
	&.resume #content {
		h1 {
			font-size: 1.5em;
		}
		
		h2 {
			font-size: 1.3em;
		}
		
		h3 {
			font-size: 1.0em;
		}
		
		p + p {
			text-indent: inherit;
			margin-top: 1.3em;
		}
	}
	
	#content {
		h1, h2, h3 {
			line-height: 1.4em;
			font-weight: bold;
			margin-top: 1.3em;
			padding-top: 0.5em;
			&:first-child {
				margin-top: 0;
			}			
		}
		
		h3 {
			margin-top: 1.0em;
		}
		
		h1 {
			border-top: 4px solid $quiet-color;
		}

		h2 {
			border-top: 4px solid $quieter-color;
		}
		
	}

	.center {
		text-align: center;
	}
	
	.no-margin {
		margin: 0;
	}
}