<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
			Jeff Remer - {{ page.title }}
		</title>
		<link href="/stylesheets/notes.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="header">
			<h1>Jeff Remer</h1>
		</div>
		<div id="main">
				{{ content }}
		</div>
		<div id="footer">
			<ul id="links">
				<li>
					<a href="http://jeffremer.com" title="Home">
						Home
					</a>
				</li>
			</ul>
		</div>
	</body>
</html>
