<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
			Jeff Remer
		</title>
		<link href="/stylesheets/notes.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="header">
			<h1>Jeff Remer</h1>
		</div>
		<div id="main">
				{{ content }}
		</div>
		<div id="footer">
			<ul id="links">
				<li>
					<a href="http://github.com/jeffremer" title="GitHub">
						GitHub
					</a>
				</li>
				<li>
					<a href="http://www.linkedin.com/in/jeffremer" title="Linked In">
						LinkedIn
					</a>
				</li>
				<li>
					<a href="http://blog.jeffremer.com" title="Blog">
						Blog
					</a>
				</li>
				<li>
					<a href="http://twitter.com/jeffremer" title="Twitter">
						Twitter
					</a>
				</li>
				<li>
					<a href="http://facebook.com/jeffremer" title="Facebook">
						Facebook
					</a>
				</li>
				<li>
					<a href="http://flickr.com/photos/jeffremer" title="Flickr">
						Flickr
					</a>
				</li>				
			</ul>
		</div>
	</body>
</html>
