/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

body {
	background-color:#f2f2f2;
	color:#3c3c3c;
	font-size:62.5%;
	font-family:Palatino, Georgia, serif;
}

#header, #main, #footer {
    width: 720px;
    margin: 20px auto;
}

h1 {
	font-size: 3.2em;
}
h2 {
	font-size: 2.6em;
}
h3 {
	font-size: 1.8em;
}
h4 {
	font-size: 1.6em;
}

p, li {
	font-size: 1.6em;
	line-height: 1.65em;
}

p {
	line-height: 1.7em;
}

pre code {
	padding: 1em;
	border: 1px solid #CECECE;
	background-color: white;
	font-size: 1.3em;
}

a {
	text-decoration: none;
}

ul {
	margin-left: 1em;
	list-style-type: disc;
}

#header {
	h1 {
		font-size: 48px;
	}
}

#links {
	float: right;
	display: inline;
	li {
		display: inline;
		margin-right: 10px;		
	}
}